<div class="services">
    <div class="heading-large">
        <h2>Our Services</h2>
    </div>
     
    <div class="services-grid">
        <div class="service-content">
            <div class="content-title">
                <h3>Your Account</h3>
            </div>
            <blockquote class="block-quote quote-turquoise">
                We allow you to open a payment account for free and manage your money in complete peace of mind via our application.
            </blockquote>
            <div class="bottom-row">
                <a href="" class="button-secondary w-button">Your Account</a>
            </div>
        </div>
        <div class="vide">
        </div>
        <div class="vide"></div>
        <div class="service-content">
            <div class="content-title">
                <h3>View Your Transfers</h3>
            </div>
            <blockquote class="block-quote quote-turquoise">
                We allow you to open a payment account for free and manage your money in complete peace of mind via our application.
            </blockquote>
            <div class="bottom-row">
                <a href="" class="button-secondary w-button">Your Transfers</a>
            </div>
        </div>
        <div class="service-content">
            <div class="content-title">
                <h3>Manage Your Beneficiaries</h3>
            </div>
            <blockquote class="block-quote quote-turquoise">
                We allow you to open a payment account for free and manage your money in complete peace of mind via our application.
            </blockquote>
            <div class="bottom-row">
                <a href="" class="button-secondary w-button">Your Beneficiaries</a>
            </div>
        </div>
        <div class="vide"></div>
    </div>
</div>