<nav>
  <div class="wrapper">
    <div class="logo"><a href="#">Logo</a></div>
    <ul class="nav-links">
      <li><a (click)="home()">Home</a></li>
      <li><a (click)="emissionTransfer()">Send Money</a></li>
      <li><a (click)="serveTransfer()">Serve Transfer</a></li>
      <li><a (click)="transfer()">Transfers</a></li>
      <li><a (click)="beneficiaries()">Beneficiaries</a></li>
      <li><a (click)="profile()">Profile</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>

