<div class="recent-transfers">
    <h3 class="heading-large">Your recents transfers</h3>
    <blockquote class="block-quote quote-turquoise">
        You can cancel your tranfers
    </blockquote>
    <div class="table-transfer">
        <div class="table" style="background-color: #0d646c; color: white">
            <div class="item1">
                <b>Reference</b>
            </div>
            <div class="item">
                <b>Transfer Amount</b>
            </div>
            <div class="item">
                <b>Transfer State</b>
            </div>
            <div class="item">
                <b>Expiry Date</b>
            </div>
            <div class="item1">
                <b>Delete</b>
            </div>
        </div>
        @for (transfer of transfersWithoutStateToServe; track transfer.id ) {
        <div class="table">
            <div class="item1">{{transfer.reference}}</div>
            <div class="item">{{transfer.transferAmount}}</div>
            <div class="item" style="font-weight:bold">{{transfer.expirationDate}}</div>
            <div class="item1"><a>
                    <fa-icon id="delete" [icon]="faTrash"></fa-icon>
                </a></div>

        </div>
        }
    </div>
    <h3 class="heading-large">Your Validated Transfers</h3>
    <blockquote class="block-quote quote-turquoise">
        Those are you previews transfers
    </blockquote>
    <div class="table-transfers">
        <div class="table" style="background-color: #0d646c; color: white">
            <div class="item1">
                <b>Id</b>
            </div>
            <div class="item">
                <b>Username</b>
            </div>
            <div class="item">
                <b>Name</b>
            </div>
            <div class="item">
                <b>Email</b>
            </div>
            <div class="item">
                <b>Created At</b>
            </div>
        </div>
        @for (transfer of transfersWithStateToServe; track transfer.id ) {
        <div class="table">
            <div class="item1">id</div>
            <div class="item">username</div>
            <div class="item">firstName lastName</div>
            <div class="item" style="font-weight:normal">email</div>
            <div class="item" style="font-weight:bold">date</div>
        </div>
    }

    </div>
</div>