<div class="container">
    <div id="multi-step-form-container">
        <!-- Form Steps / Progress Bar -->
        <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
            <!-- Step 1 -->
            <li class="form-stepper-active text-center form-stepper-list" step="1">
                <a class="mx-2">
                    <span class="form-stepper-circle">
                        <span>1</span>
                    </span>
                    <div class="label">Check Transfer To Serve</div>
                </a>
            </li>
            <!-- Step 2 -->
            <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
                <a class="mx-2">
                    <span class="form-stepper-circle text-muted">
                        <span>2</span>
                    </span>
                    <div class="label text-muted">Transfer Recap</div>
                </a>
            </li>
            <!-- Step 3 -->
            <li class="form-stepper-unfinished text-center form-stepper-list" step="3">
                <a class="mx-2">
                    <span class="form-stepper-circle text-muted">
                        <span>3</span>
                    </span>
                    <div class="label text-muted">Check Benificiary Infos</div>
                </a>
            </li>
            <!-- Step 4 -->
            <li class="form-stepper-unfinished text-center form-stepper-list" step="4">
                <a class="mx-2">
                    <span class="form-stepper-circle text-muted">
                        <span>4</span>
                    </span>
                    <div class="label text-muted">Serve Transfer</div>
                </a>
            </li>
            <!-- Step 5 -->
            <li class="form-stepper-unfinished text-center form-stepper-list" step="5">
                <a class="mx-2">
                    <span class="form-stepper-circle text-muted">
                        <span>5</span>
                    </span>
                    <div class="label text-muted">Check Transfer To Serve</div>
                </a>
            </li>
            <!-- Step 6 -->
            <li class="form-stepper-unfinished text-center form-stepper-list" step="6">
                <a class="mx-2">
                    <span class="form-stepper-circle text-muted">
                        <span>6</span>
                    </span>
                    <div class="label text-muted">Check Transfer To Serve</div>
                </a>
            </li>
        </ul>


        <!-- Step Wise Form Content -->
        <form id="userAccountSetupForm" name="userAccountSetupForm" enctype="multipart/form-data" method="POST">
            <!-- Step 1 Content -->
            <section id="step-1" class="form-step">
                <h4 class="mb-2 section-title"><strong> Choice your Beneficiary</strong></h4>
                <!-- Step 1 input fields -->
                <form #reference="ngForm">
                    <div class="mt-3">
                        <form class="form">
                            <label class="">Please Select your Beneficiary :</label><br>
                            <div class="dropdown">
                              <select name="benef" class="dropdown-btn"  >
                                  <option class="dropdown-content" value="">BEnef 1</option>
                                  <option class="dropdown-content" value="">BEnef 2</option>
                                  <option class="dropdown-content" value="">BEnef 3</option>
                                  <option class="dropdown-content" value="">BEnef 4</option>
                              </select>
                            </div>
                            <div class="mt-3">
                                <button class="btn button btn-navigate-form-step" type="button" step_number="2"
                                    [disabled]="reference.invalid" (click)="checkTransferToServe(reference)">Next</button>
                            </div>
                        </form>
                    </div>
                    
                </form>
            </section>
            <!-- Step 2 Content, default hidden on page load. -->
            <section id="step-2" class="form-step d-none">
                <!-- @if (transferToServe){ -->
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h4 class="mb-2 section-title"><strong>Beneficiary Recape</strong></h4>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="fullName">First Name :  &nbsp;&nbsp;</label>
                                        <label ><span class="info">firstName</span></label>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="fullName">Last Name :  &nbsp;&nbsp;</label>
                                        <label ><span class="info">lastName</span></label>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="phone">Phone Number :  &nbsp;&nbsp;</label>
                                        <label ><span class="info">phone</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button class="button btn-navigate-form-step m" type="button" step_number="1">Prev</button>
                    <button class="button btn-navigate-form-step" type="button" step_number="3"
                        [disabled]='transferToServe'>Next</button>
                </div>

            </section>
            <!-- Step 3 Content, default hidden on page load. -->
            <section id="step-3" class="form-step d-none">
                <h4 class="mb-2 section-title"><strong>Amount to transfer</strong></h4>
                <!-- Step 3 input fields -->
                <div class="mt-3">
                    <form #reference="ngForm">
                        <div class="mt-3">
                            <form class="form">
                                <div class="form-group">
                                    <label class="">Please enter the transfer amount : &nbsp;&nbsp;</label>
                                    <input class="form-input" type="number" />
                                </div>
                                <div class="form-group">
                                    <label class="">Please enter the transfer Reason : &nbsp;&nbsp;</label>
                                    <input class="form-input" type="text" />
                                </div>
                                <div class="form-group">
                                    <label class="">Comission:&nbsp;&nbsp; </label>
                                    <label class=""><span class="info">5%</span></label>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox-wrapper-2">
                                        <label><input type="checkbox" class="sc-gJwTLC ikxBAC">
                                        &nbsp;&nbsp;You want to use our notification service</label>
                                      </div>
                                </div>
                            </form>
                        </div>
                        
                    </form>
                </div>
                <div class="mt-3">
                    <button class="button btn-navigate-form-step" type="button" step_number="2">Prev</button>
                    <button class="button btn-navigate-form-step" type="button" step_number="4">Next</button>
                </div>
            </section>

            <!-- Step 4 Content, default hidden on page load. -->

            <section id="step-4" class="form-step d-none">
                <h4 class="mb-2 section-title"><strong>Transfer Recape </strong> </h4>
                <!-- Step 4 input fields -->
                <div class="mt-3">
                    <form>
                        <div class="form-group">
                            <label class="">Transfer Reason: &nbsp;&nbsp;</label>
                            <label class=""><span class="info">Reason</span></label>
                        </div>
                        <div class="form-group">
                            <label class="">Transfer Amount: &nbsp;&nbsp;</label>
                            <label class=""> <span class="info">500DH</span> </label>
                        </div>
                        <div class="form-group">
                            <label class="">Agency Comission : &nbsp;&nbsp;</label>
                            <label class=""> <span class="info">50DH</span> </label>
                        </div>
                        <div class="form-group">
                            <label class="">Notification service Comission: &nbsp;&nbsp;</label>
                            <label class=""> <span class="info">10DH</span> </label>
                        </div>
                        <div class="form-group">
                            <label class="">Total: &nbsp;&nbsp;</label>
                            <label class=""> <span class="info">560DH</span> </label>
                        </div>
                    </form>
                </div>
                <div class="mt-3">
                    <button class="button btn-navigate-form-step" type="button" step_number="3">Prev</button>
                    <button class="button btn-navigate-form-step" type="button" step_number="5">Next</button>
                </div>
            </section>

            <!-- Step 5 Content, default hidden on page load. -->

            <section id="step-5" class="form-step d-none">
                <h4 class="mb-2 section-title"><strong>Verification Step </strong> </h4>
                <!-- Step 5 input fields -->
                <div class="mt-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-7 mx-auto my-auto">
                            <div class="card">
                                <div class="card-body px-lg-5 py-lg-5 text-center">
                                    <img src="../../../assets/images/msg.png"
                                        class="rounded-circle avatar-lg img-thumbnail mb-4" alt="profile-image">
                                    <h2 class="text">Verfication code</h2>
                                    <p class="mb-4">Please enter the 5-digits code you recieved.</p>
                                    <form #form="ngForm">
                                        <ng-otp-input  [config]="{length:5}"></ng-otp-input>
                                        <div class="text-center">
                                            <button type="button"  class="btn btn-sm pay-button my-4">Verify</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button class="button btn-navigate-form-step" type="button" step_number="4">Prev</button>
                    <button class="button btn-navigate-form-step" type="button" step_number="6">Next</button>
                </div>
            </section>

            <!-- Step 6 Content, default hidden on page load. -->

            <section id="step-6" class="form-step d-none">
                <h4 class="mb-2 section-title"><strong>Final Recape</strong> </h4>
                <!-- Step 6 input fields -->
                <div class="mt-3">
                    <form>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="">Beneficiary First Name :  &nbsp;&nbsp;</label>
                                    <label class=""><span class="info">firstName</span></label>
                                </div>
                                <div class="form-group">
                                    <label class="">Beneficiary Last Name :  &nbsp;&nbsp;</label>
                                    <label class=""><span class="info">firstName</span></label>
                                </div>
                                <div class="form-group">
                                    <label class="">Beneficiary Phone Number :  &nbsp;&nbsp;</label>
                                    <label class=""><span class="info">firstName</span></label>
                                </div>
                                <div class="form-group">
                                    <label class="">Transfer Reason :  &nbsp;&nbsp;</label>
                                    <label class=""><span class="info">firstName</span></label>
                                </div>
                                <div class="form-group">
                                    <label class="">Amount to Transfer :  &nbsp;&nbsp;</label>
                                    <label class=""><span class="info">firstName</span></label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="">Transfered At :  &nbsp;&nbsp;</label>
                                    <label class=""><span class="info">firstName</span></label>
                                </div>
                                <div class="form-group">
                                    <label class="">Transfered By :  &nbsp;&nbsp;</label>
                                    <label class=""><span class="info">firstName</span></label>
                                </div>
                                <div class="form-group">
                                    <label class="">Address :  &nbsp;&nbsp;</label>
                                    <label class=""><span class="info">firstName</span></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="mt-3">
                    <button class="button btn-navigate-form-step" type="button" step_number="5">Prev</button>
                    <button class="button submit-btn" type="submit">Save</button>
                </div>
            </section>
        </form>
    </div>
</div>