<div class="container infos">
    <h1>
       Admin information
    </h1>
    <div class="infos-body row">
        <div class=" col">
            <div class="labelInfo">
                First Name :
            </div>
            <div class="valeurInfo">
                firstName </div>
            <div class="labelInfo">
                Identity Type :
            </div>
            <div class="valeurInfo">
                identityType  </div>
            <div class="labelInfo">
                Country Of Issue :
            </div>
            <div class="valeurInfo">
                countryOfIssue  </div>
            <div class="labelInfo">
                Identity Number :
            </div>
            <div class="valeurInfo">
                identityNumber  </div>
            <div class="labelInfo">
                Identity Validity :
            </div>
            <div class="valeurInfo">
                identityValidity   </div>
            <div class="labelInfo">
                Date Of Birth :
            </div>
            <div class="valeurInfo">
                dateOfBirth   </div>
            <div class="labelInfo">
                Profession :
            </div>
            <div class="valeurInfo">
                profession    </div>
        </div>    
        <div class=" col">
            <div class="labelInfo">
                Nationality :
            </div>
            <div class="valeurInfo">
                nationality     </div>
            <div class="labelInfo">
                Country Of Address :
            </div>
            <div class="valeurInfo">
                countryOfAddress    </div>
            <div class="labelInfo">
                Address :
            </div>
            <div class="valeurInfo">
                address    </div>
            <div class="labelInfo">
                City :
            </div>
            <div class="valeurInfo">
                city     </div>
            <div class="labelInfo">
                Phone Number :
            </div>
            <div class="valeurInfo">
                phoneNumber  </div>
            <div class="labelInfo">
                Email :
            </div>
            <div class="valeurInfo">
                email  </div>
        </div>
    </div>

</div>