<div class="single-slide">
    <div class="row">
        <div class="col">
            <div class="firstPart">
                <h1><span>The payment account</span><span class="span-turquoise"> that makes everyday life easier!</span></h1>
                <div class="inner text-size-medium">
                    Leverage a 0 DH account maintenance fee account, complete with a Mastercard payment card and a host of benefits through our application. Explore services such as wallet-to-wallet transfers, wallet-to-cash transfers, and the seamless management of your beneficiaries...
                </div>
            </div>
            <div class="subtext-row">
                <div class="subtext-container">
                    <img class="check" src="../../assets/images/check.png" alt="">
                    Free Account Keeping
                </div>
                <div class="subtext-container">
                    <img class="check" src="../../assets/images/check.png" alt="">
                    Simple management
                </div>
                <div class="subtext-container">
                    <img class="check" src="../../assets/images/check.png" alt="">
                    Secure
                </div>
                <div  class="subtext-container">
                    <img class="check" src="../../assets/images/check.png" alt="">
                    Availability 7 days a week
                </div>
                
            </div>
        </div>
        <div class="col bg-img">
        </div>
    </div>
</div>