h1 {
    text-align: center;
}
h2 {
    margin: 0;
}
#multi-step-form-container {
    margin-top: 5rem;
}
.text-center {
    text-align: center;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.pl-0 {
    padding-left: 0;
}
.button {
    padding: 0.7rem 1.5rem;
    border: 1px solid #4361ee;
    background-color: #4361ee;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn {
    border: 1px solid #0e9594;
    background-color: #0e9594;
}
.mt-3 {
    margin-top: 2rem;
}
.d-none {
    display: none;
}
.form-step {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 3rem;
}
.font-normal {
    font-weight: normal;
}
ul.form-stepper {
    counter-reset: section;
    margin-bottom: 3rem;
}
ul.form-stepper .form-stepper-circle {
    position: relative;
}
ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
ul.form-stepper > li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}
.form-stepper-horizontal > li:not(:last-of-type) {
    margin-bottom: 0 !important;
}
.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}
.form-stepper-horizontal li:after {
    background-color: #dee2e6;
}
.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #4da3ff;
}
.form-stepper-horizontal li:last-child {
    flex: unset;
}
ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}
.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: #4361ee !important;
    color: #fff;
}
.form-stepper .form-stepper-active .label {
    color: #4361ee !important;
}
.form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: #4361ee !important;
    color: #fff !important;
}
.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}
.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #0e9594 !important;
    color: #fff;
}
.form-stepper .form-stepper-completed .label {
    color: #0e9594 !important;
}
.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
}
.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}
.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}
.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}
.form-stepper a {
    cursor: default;
}

.form-input {
    height: 40px;
    width: 350px;
    background-color: transparent;
    border: 1px solid #344767;
    font-size: 14px;
    /* font-style: italic; */
    /* margin-bottom: 1rem; */
    /* border-left: 3px solid #344767; */
    border-radius: 0;
    padding: 10px 30px;
    transition-duration: 500ms;
    margin-left: 0;
    margin-right: 0;
  }
  
  .form-input:focus {
    border-left: 3px solid #344767;
    box-shadow: none;
  }

  .section-title{
    color: #008995;
}

/* modal */
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
  }

  .img-thumbnail {
    padding: .25rem;
    background-color: #ecf2f5;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
  }
  .avatar-lg {
    height: 150px;
    width: 150px;
  }

  .button {
    outline: none;
    width: 150px;
    background: #008995;
    margin-right: 2rem;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #FFFFFF;
    cursor: pointer;
  }
  .text-center {
    justify-content: center !important;
    text-align: center !important;
    margin: 30px auto;
  }
  .checkbox-wrapper-2 .ikxBAC {
    appearance: none;
    background-color: #8cc4c8;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}
.checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}
.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
transition: all 100ms ease-out;
}
.checkbox-wrapper-2 .ikxBAC::after {
background-color: #fff;
border-radius: 50%;
content: "";
height: 14px;
left: 3px;
position: absolute;
top: 3px;
width: 14px;
}
.checkbox-wrapper-2 input[type=checkbox] {
cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
background-color: #8cc4c8;
transition-duration: 0s;
}
.checkbox-wrapper-2 .ikxBAC:checked {
background-color: #145257;
}
.checkbox-wrapper-2 .ikxBAC:checked::after {
background-color: #fff;
left: 13px;
}
.checkbox-wrapper-2 :focus:not(.focus-visible) {
outline: 0;
}
.checkbox-wrapper-2 .ikxBAC:checked:hover {
background-color: #145257;
}
.info {
    font-weight: 500;
}
.center {
    margin-bottom: 60px;
    color: #005259;
}

.table {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.1);
    padding: 15px;
    margin: 6px 0;
}
.table-agents{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.26);
    margin-top: 30px;
}

.item {
    max-width: 50%;
    font-weight: bold;
    font-size: 10pt;
}
.button-secondary {
    z-index: 999;
    border: 0.125rem solid #008995;
    color: #008995 ;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.25rem;
    font-family: Inter,sans-serif;
    font-weight: 600;
    transition: opacity .35s;
    position: relative;
}
.w-button {
    line-height: inherit;
    text-decoration: none;
    display: inline-block;
    max-width: 180px;
    margin: 10px;
}
.btn:hover {
    border: 0.125rem solid #005259 !important;
    color: white;
    background-color: #005259 !important;
}
.form-control {
    border: 0.125rem solid #bdbfbf;
    height: 45px;
    max-width: 350px;
    margin: 5px;
}
#addBenefModal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

.form {
    margin: 30px 50px 0;
}
