<div class="container " id="main-container">
    <div id="multi-step-form-container">
        <!-- Form Steps / Progress Bar -->
        <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
            <!-- Step 1 -->
            <li class="form-stepper-active text-center form-stepper-list" step="1">
                <a class="mx-2">
                    <span class="form-stepper-circle">
                        <span>1</span>
                    </span>
                    <div class="label">Beneficiary Informations</div>
                </a>
            </li>
      
            <!-- Step 3 -->
            <li class="form-stepper-unfinished text-center form-stepper-list" step="3">
                <a class="mx-2">
                    <span class="form-stepper-circle text-muted">
                        <span>3</span>
                    </span>
                    <div class="label text-muted">Transfer Informations</div>
                </a>
            </li>
            <!-- Step 4 -->
            <li class="form-stepper-unfinished text-center form-stepper-list" step="4">
                <a class="mx-2">
                    <span class="form-stepper-circle text-muted">
                        <span>4</span>
                    </span>
                    <div class="label text-muted">Transfer Recap</div>
                </a>
            </li>
            <!-- Step 5 -->
            <li class="form-stepper-unfinished text-center form-stepper-list" step="6">
                <a class="mx-2">
                    <span class="form-stepper-circle text-muted">
                        <span>6</span>
                    </span>
                    <div class="label text-muted">Otp Validation</div>
                </a>
            </li>
            <li class="form-stepper-unfinished text-center form-stepper-list" step="7">
                <a class="mx-2">
                    <span class="form-stepper-circle text-muted">
                        <span>7</span>
                    </span>
                    <div class="label text-muted">Issue Transfer</div>
                </a>
            </li>
        </ul>

        <!-- Step Wise Form Content -->
        <form id="userAccountSetupForm" name="userAccountSetupForm" enctype="multipart/form-data" method="POST">
            <section id="step-1" class="form-step">
                <h4 class="mb-2 section-title"><strong> Add Beneficiary</strong></h4>

                <button class="btn button" (click)="openModal()">Add
                    Benificiary</button>
                <table class="table table-striped  table-hover project-list-table table-nowrap table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" class="ps-4">Id</th>
                            <th scope="col">FirstName</th>
                            <th scope="col">LastName</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Add</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (benificiary of benificiairesForClient; track benificiary.id ) {
                        <tr>
                            <th scope="row" class="ps-4">{{client.id}}</th>
                            <td>{{benificiary.firstName}} </td>
                            <td>{{benificiary.lastName}}</td>
                            <td>{{benificiary.phoneNumber}}</td>
                            <td>Choose</td>
                        </tr>
                        }
                    </tbody>
                </table>
                <button class="button btn-navigate-form-step" (click)="issueTransfer()" type="button"
                    step_number="2">Next</button>

            </section>

            <!-- Step 1 Content -->
            <section id="step-2" class="form-step d-none">
                <h4 class="mb-2 section-title"><strong>Transfer Informations</strong></h4>
                <!-- Step 6 input fields -->

                <div class="mt-3">
                    <form #transferAmount="ngForm" class="form">
                        <div class="form-group mb-3">
                            <label class="">Transfer Amount : &nbsp;&nbsp;</label>
                            <input class="form-input" type="number" ngModel name="transferAmount" />
                        </div>
                        <div class="form-group mb-3">
                            <label class="">Transfer Reason : &nbsp;&nbsp;</label>
                            <select #transferReason class="mb-1 form-input" ngModel name="transferReason">
                                <option value="" disabled selected hidden>Transfer Reason...</option>
                                <option value="FAMILY_SUPPORT">FAMILY_SUPPORT</option>
                                <option value="SAVING_INVESTMENT">SAVING_INVESTMENT</option>
                                <option value="GIFT">GIFT</option>
                                <option value="PAYMENT">PAYMENT</option>
                                <option value="OVERAGE_FEES">OVERAGE_FEES</option>
                                <option value="RENTAL_MORTGAGE">RENTAL_MORTGAGE</option>
                                <option value="EMERGENCY_MEDICAL_AID">EMERGENCY_MEDICAL_AID</option>
                                <option value="INCOME_FROM_WEBSITE">INCOME_FROM_WEBSITE</option>
                                <option value="SALARY_EXPANSES">SALARY_EXPANSES</option>
                                <option value="LOTTERY_FEES_REWARDS_TAXES">LOTTERY_FEES_REWARDS_TAXES</option>
                                <option value="INTERNET_COMMERCE">INTERNET_COMMERCE</option>
                                <option value="OTHERS">OTHERS</option>

                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label class="">Comission:&nbsp;&nbsp; </label>
                            <select #commissionType class="mb-1 form-input" ngModel name="commissionType">
                                <option value="" disabled selected hidden>Commission Type...</option>
                                <option value="ON_SENDER">On Sender</option>
                                <option value="ON_BENEFICIARY">On Benificiary</option>
                                <option value="SHARED_CHARGE">Shared</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <div class="checkbox-wrapper-2">
                                <label><input type="checkbox" name="transferNotification" ngModel
                                        class="sc-gJwTLC ikxBAC">
                                    &nbsp;&nbsp;Use our notification service</label>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="mt-3">
                    <button class="button btn-navigate-form-step" type="button" step_number="1">Prev</button>
                    <button class="button btn-navigate-form-step" type="button" step_number="3"
                        (click)="sendTransferAmountRequest(transferAmount)">Next</button>
                </div>
            </section>

            <section id="step-3" class="form-step d-none">
                <h4 class="mb-2 section-title"><strong>Transfer Recap</strong> </h4>
                <!-- Step 7 input fields -->
                <div class="mt-3">
                    <form>
                        <div class="form-group mb-3">
                            <label class="">Transfer Reason: &nbsp;&nbsp;</label>
                            <label class=""><span class="info">Reason</span></label>
                        </div>
                        <div class="form-group mb-3">
                            <label class="">Transfer Amount: &nbsp;&nbsp;</label>
                            <label class=""> <span class="info">500DH</span> </label>
                        </div>
                        <div class="form-group mb-3">
                            <label class="">Agency Comission : &nbsp;&nbsp;</label>
                            <label class=""> <span class="info">50DH</span> </label>
                        </div>
                        <div class="form-group mb-3">
                            <label class="">Notification service Comission: &nbsp;&nbsp;</label>
                            <label class=""> <span class="info">10DH</span> </label>
                        </div>
                        <div class="form-group mb-3">
                            <label class="">Total: &nbsp;&nbsp;</label>
                            <label class=""> <span class="info">560DH</span> </label>
                        </div>
                    </form>
                </div>
                <div class="mt-3">
                    <button class="button btn-navigate-form-step" type="button" step_number="2">Prev</button>
                    <button class="button btn-navigate-form-step" type="button" [disabled]="!transferAmountResponse"
                      step_number="4">Next</button>
                </div>
            </section>

            <section id="step-4" class="form-step d-none">
                <div class="row">
                    <div class="col-lg-12 col-md-7 mx-auto my-auto">
                        <div class="card">
                            <div class="card-body px-lg-5 py-lg-5 text-center">
                                <img src="../../assets/images/msg.png"
                                    class="rounded-circle avatar-lg img-thumbnail mb-4" alt="profile-image">
                                <h2 class="text">Verfication code</h2>
                                <p class="mb-4">Please enter the 5-digits code you recieved.</p>
                                <form #form="ngForm">
                                    <ng-otp-input (onInputChange)="onOtpChange($event)"
                                        [config]="{length:5}"></ng-otp-input>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-sm button my-4  btn-navigate-form-step"
                                            step_number="5" (click)="validateTransferByWallet()">Continue</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="step-5" class="form-step d-none">
                <!-- Step 5 input fields -->
                <div class="mt-3">
                    Final Recap
                </div>
                <div class="mt-3">
                    <button class="button submit-btn" type="submit">Validate Transfer</button>
                </div>
            </section>
        </form>
    </div>



    <!-- add Modal -->
    <div class="modal fade" id="modal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true"
        data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="text-center" #addForm="ngForm" class="add-form">
                        <!-- <a class="logo  mb-4" data-bs-dismiss="modal"><img src="" style="width:90%" /></a> -->
                        <p class="form-title mb-3 mt-2">ADD AGENT</p>

                        <input type="text" class="form-control mb-3 form-input" placeholder="First Name" ngModel
                            name="firstName" required />
                        <input type="text" class="form-control mb-3 form-input" placeholder="Last Name" ngModel
                            name="lastName" required />
                        <input type="text" class="form-control mb-3 form-input" placeholder="Phone Number" ngModel
                            name="phoneNumber" required>

                        <button color="info" class="w-100 mb-2 button" type="button" (click)="addABeneficiary(addForm)"
                            [disabled]="addForm.invalid" data-bs-dismiss="modal">
                            Add
                        </button>
                        <button type="button " data-bs-dismiss="modal" aria-label="Close" class="button mt-1"
                            style="width: min-content;">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>